:root {
  --dark: #061130;
  --blue: #1C4BC4;
  --light: #F4F6F8;
  --yellow: #FAFD61;
  --white: white;
}

body {
  background-color: var(--dark);
  margin: 15px;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  color: var(--white);
  align-items: center;
  padding: 10px;
}

.nav-links {
  justify-content: flex-end;
}

.nav-links>a {
  margin-left: 45px;
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
}


/* * {
  outline: 2px red dotted;
} */

main {
  margin-left: 15%;
  margin-right: 10%;
  align-items: center;
  /* flex-grow: 100vh; */
}

main img {
  width: 100%;
}

.d-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

.center-object {
  margin: auto;
}

.grow {
  flex-grow: 1;
}

.w-50 {
  width: 50%;
}

.w-40 {
  width: 40%;
}

.w-80 {
  width: 80%;
}

.useful-links {
  background-color: var(--white);
  padding: 45px;
}

footer {
  background-color: #F4F6F8;
  padding: 10px;
  text-align: center;
}

h1 {
  color: var(--white);
  font-weight: 500;
  font-size: 32px;
}

h5 {
  color: var(--yellow);
  font-size: 16px;
  font-weight: 400;
}

h6 {
  color: #061130;
  font-weight: 200;
}

p {
  color: var(--white);
  line-height: 1.75em;
  font-size: 18px;
  font-weight: 100;
}

#hero-paragraph {
  padding-right: 10%;
}

button {
  background-color: unset;
  border: unset;
  cursor: pointer;
  padding: 1em;
  text-transform: uppercase;
}

.button-action {
  color: var(--white);
  border-radius: .75em;
  background-color: var(--blue);
}