:root {
  --dark: #061130;
  --blue: #1C4BC4;
  --light: #F4F6F8;
  --yellow: #FAFD61;
  --white: white;
}

body {
  background-color: var(--dark);
  margin: 15px;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  color: var(--white);
}

.nav-links {
  width: 80%;
  justify-content: flex-end;
}

.nav-links>a {
  margin-left: 25px;
  color: var(--white);
  text-decoration: none;
}


* {
  outline: 2px red dotted;
}

main {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  color: var(--yellow);
  /* flex-grow: 100vh; */
}

main img {
  width: 100%;
}

.d-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.grow {
  flex-grow: 1;
}

.w-50 {
  width: 50%;
}

.w-80 {
  width: 80%;
}

.useful-links {
  background-color: var(--white);
  padding: 25px;
}

footer {
  background-color: #F4F6F8;
  padding: 10px;
  text-align: center;
}

h1 {
  color: var(--white);
  font-weight: 500;
}

h5 {
  color: var(--yellow);
}

h6 {
  color: #061130;
  font-weight: 200;
}

p {
  color: var(--white);
  line-height: 1.75em;
}